
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.Centrar {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title {
    margin: 30px;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.Error {
    display: block;
    margin-top: 6px;
    font-size: 10px;
    color: red;
    text-align: center;
}

#CampoRequerimiento {
    font-size: 16px;
}

#Subtitulo {
    margin-bottom: 15px;
}