<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presupuesto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presupuesto.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ConfGlobales.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/768a2514a6.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>

</head>
<body>
    <header>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
           
            <div class="containerDeMenu">
                <partial name="_Menu" />
            </div>

            <div class="containerDeContenido">
                @RenderBody()
            </div>
            
          
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
