@model Presupuesto.Models.TipoCuenta

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Editar.css" asp-append-version="true" />


@using(Html.BeginForm("Editar", "TiposCuentas", FormMethod.Post))
{
<div class="Centrar">

        <h1 class="Title">Editar a @Model.Nombre</h1>

        <div class="">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre)
        </div>
        <button class="BtnGuardar" data-id="@Model.Id" type="submit">Guardar Cambios</button>

</div>
}


