@model Presupuesto.Models.TipoCuenta

@{
    ViewData["Title"] = "Tipos Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<h1 class="Titulo">Lista de tipos de cuentas</h1>

@using (Html.BeginForm("Create", "TiposCuentas", FormMethod.Post))
{
<div class="Centrar">
    <h4 id="Subtitulo">Agregar un nuevo tipo de cuenta</h4>
    <div>
       <label id="CampoRequerimiento">Ingresa nombre: </label>
            @Html.EditorFor(model => model.Nombre)
            <button id="btnCrear" type="submit"> Guardar </button>

            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "Error" })
      
    </div>
</div>
}



<div class="Centrar">
    <div class="containerTable">
        <table id="TiposCuentas" class="table">
            <thead>
                <tr>
                    <th>
                        <h6>Nombre</h6>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>



@section scripts
{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#TiposCuentas').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("ObtenerLista", "TiposCuentas")",
                    "type": "POST",
                    "dataType": "json"
                },
                "pageLength": 10,
                "responsivePriority": 1,
                "searching": true,
                "columns": [
                    { "data": "nombre" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return " <div class='text-center'>" +
                            "<button class='btnEditar' data-id='" + row.id + "'>Actualizar</button>"+
                            "<button class='btnEliminar' data-id='" + row.id + "'>Eliminar</button> "+
                            "</div>";
                        },
                        "orderable": false
                    }
                ],
            });
        });

        $('#TiposCuentas tbody').on('click', '.btnEliminar', function () {
            var id = $(this).data('id');
            eliminarTipoCuenta(id);
        });

        function eliminarTipoCuenta(id) {
            $.ajax({
                type: "POST",
                url: '/TiposCuentas/EliminarTipoCuenta',
                data: { id: id },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert('Error al eliminar el tipo de cuenta.');
                }
            });
        }

        $('#TiposCuentas').on('click', '.btnEditar', function () {
            var id = $(this).data('id');
            window.location.href = "@Url.Action("Editar", "TiposCuentas")/" + id;
        });

    </script>


}